body {
  background-color: rgb(220, 220, 220);
  background-image: url('Media/Background/MenuAgr1_1.jpg' );
  background-size: 100%;
  width: 100%;
  text-align: center;
}


body.Inv_Body{

background-size: 25%;
  background-image: url('Media/Background/Inv/Inv_Background2.jpg' );



}

/* Link styles */
a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
  text-decoration: none;
}

/* H1 */
h1 {
  background-color: #2A295C;
  color: white;
  line-height: 120px;
  font-size: 62px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* H2 */
h2 {
  color: #fff;
   font-family: "Bebas Neue", sans-serif;
   font-size: 2.5vw;
   overflow:visible;
}


/* Menu */
.Menu_Main {
  position: fixed;
  transform: translateY(-50%) translateX(-80%);
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  z-index: 9999;
  }

  .MenueButton {
    box-sizing: border-box;
    border: none;
    background-image: url('Media/UiElements/DeltaMenupng_Base.png');
    background-color: transparent !important;
    background-size: cover;
    object-fit: contain;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 16 / 7;
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .InvintoryBtn {
    position: absolute;
    top: 100%;
    left: 15%;
    width: 80%;
    aspect-ratio: 16 / 7;
    background-image: url('Media/UiElements/DeltaMenupng_Inventory.png');
    background-color: transparent !important;
    background-size: cover;
    object-fit: contain;
    cursor: pointer;
    visibility: hidden;
  }

  .SkilsBtn {
    position: absolute;
    top: -80%;
    left: 15%;
    width: 80%;
    aspect-ratio: 16 / 7;
    background-image: url('Media/UiElements/DeltaMenupng_Skills.png');
    background-color: transparent !important;
    background-size: cover;
    object-fit: contain;
    cursor: pointer;
    visibility: hidden;
  }

.Menu_Main:hover {
  filter: drop-shadow(5px 5px 5px #222);
}

  .Menu_Main:hover .MenueButton {
    transform: translateX(80%);
  }

  .Menu_Main:hover .InvintoryBtn,
  .Menu_Main:hover .SkilsBtn {
    visibility: visible;
  }

/*ChaePreviewPic*/
  /*NPC*/
  .NPC{
  position: absolute;
  height: 60%;
  bottom: 0;
  right: 0;
  }



.inventory {
  visibility: hidden;
}

.TotalPoints {

  border: none;
  background-color: transparent;
  width: calc(2.5vw + 10%);
  overflow:visible;
  color: #fff;
  font-size: 2.5vw;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}


/* Hero navigation */
.InvHeader{
position: absolute;
top: 0;
width: 100%;
height: 100%;

}

.HeroInv {
position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-position: center;
  background-image: url('Media/UiElements/InvNav.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.HeroInv #Invintory,
.HeroInv #MainWeapon,
.HeroInv #Secondary,
.HeroInv #Melle {
align-self: center;
  border: none;
  padding: 1vw 4vw;
  text-align: center;
  font-size: 3vw;
  top: 50%;
  bottom: 50%;
}


.PointCount{
position: relative;
top: 0;
margin: 10px;
border-radius: 1rem;
border: solid 2px #aaa ;
padding: 1rem;
padding-top : 0px;
padding-bottom : 0px;
background-image: linear-gradient(#252525, #424141);
width:30%;
height: auto;
min-width: 150px;
}


/*dropdown item_con*/
  .item_con {
  position: relative;
  width: 100%;
  height: fit-content;
  color: whitesmoke;

  }


    /*img item_con*/
    .img_con {
      z-index: -1;
    }

  /*points item_con*/
    .points_con {
      position: absolute;
      background-color: #8a8a8a;
      width: 20%;
      aspect-ratio: 1 / 1;
      top: 0px;
      left: 0;
      content: unset;
      font-weight: bold;
      font-size: 100%;
      color: black;
      z-index: 1;
      align-content: center;


  }


    /*info item_con*/
    .info_con {
      position: absolute;
      background-color: #c5850f ;
      width: 20%;
      aspect-ratio: 1 / 1;
      top: 0;
      right: 0;
      align-content: center;
      content: unset;
      font-weight: bold;
      font-size: 100%;
      color: black;
      z-index: 1;
    }




  /* Dropdown component */

  .selector-button {
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
    width: 100%;
  }

  .selector-button img {
      background: none;
      padding: 0;
      display: block;
      width: 100%;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background-color: #343434;

  }

  .selector-button.selected img {
    border-color: cyan;
  }

  .dropdown {
    position: relative;
  }


  .dropdown-list {
    display: none;
    list-style: none;
    top: 100%;
    padding: 5px;
    margin: 0;
    background: #222;
    position: absolute;
    z-index: 1000;
    width: fit-content; 
    border: 1px solid #ccc;

  }

  .dropdown-item img {
        width: 100%;

        margin-bottom: 5px;
        cursor: pointer;
  }




  /* For selected loadout preview if needed */
  .selected-items-container {

    padding: 10px;
    border: 2px solid #aaa;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
  }

  .selected-item {
    width: 100%;
    border: 1px solid #666;
    border-radius: 5px;
  }


  /*Dropdown Size*/
  .dropdown 
  #vest,
  #melee,
  #weapon1,
  #weapon2,
  #equipment1,
  #equipment2,
  #equipment3,
  #granade1,
  #granade2,
  #granade3

  {
  width: 100%; /*change dropdown size*/
  max-width: 175px;

  }

/*Invintory Positions*/
  /* Equipment slots container */
  .Equipmants {

    height: 100%;
    width: 90%;
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px;
    gap: 2vh;
  }


  .VWC_Group{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    width: fit-content; 
    gap: 10px;
    margin-left: auto;

  }
    .VW_Group{
      order: 1;
      display: flex;
      flex-direction: column;
      width: fit-content;
      min-width: 150px;
      gap: 5px;
    }
      .VM_Group{
        display: flex;
        flex-direction: row;
        gap: 5px;
      }

      .Weapon1_Grp{
        width: fit-content;
        margin-left: auto;
        
      }

      .Weapon2_Grp{
        width: fit-content;
        margin-left: auto;
      }
    /*Char_Group*/
    .Char_Group{
      order: 2;
      display: flex;
      flex-direction: column; 
      justify-content:end;
      align-items: center;
      width: 35%;
      background-image: url('Media/Background/CharBackground1.jpg');
      background-size: 200% 100%;
      min-width: 200px;

    }
    .CharSelector{
      display: flex;
      background-color: #666;
      flex-direction: row;
      width: 100%; 
      height: fit-content;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    
      

      }
      /*CharName*/
      .CharName{
        width: 100%;
margin: 2px;
      }

      /*CharImg*/
      .DeltaChar{
        position: relative;
        width: 100%;
        height: auto;

      }

      /*button*/
      .SwipeLeft_btn{
        background-color: #dbdbdb ;
        height: 100%;
        aspect-ratio: 1 / 1;
        min-height: 45px;
        align-content: center;
        content: unset;
        font-weight: bold;
        font-size: 100%;
        color: black;
        z-index: 1;

        }

      .SwipeRight_btn{
            background-color: #dbdbdb ;
            height: 100%;
            aspect-ratio: 1 / 1;
            min-height: 45px;
            align-content: center;
            content: unset;
            font-weight: bold;
            font-size: 100%;
            color: black;
            z-index: 1;


    }


  .Vest_Grp,
  .Melee_Grp{
  width: fit-content;


  }

  .E-G_Group{
  gap: 5px;
  right: 0;

  }


  .E_Group {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;

  }

  .G_Group {
    width: fit-content;
    display: flex;
      flex-direction: row;
      gap: 5px;

  }

  /*ItemInfo*/
  .ItemsInfo_Group {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
    color: #fff;
    text-align: left;
    
  }
    .NameInfo{
      background-color: #252525;
      border: solid 2px #fff;
      width: 100%;
      font-size: x-large;
      padding: 20px;
    }

    .ContentInfo{
      background-color: #252525;
      border: solid 2px #fff;
      width: 100%;
      height: 100%;
      font-size: x-large;
      padding: 20px;
    }


    /*Accesories*/
    .WA_Group{
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: fit-content;
      height: 40%;
      gap:10px;
      margin-left: auto;
      margin-right: auto;

    }

      .AtachmentsSet{
        display: flex;
        flex-direction: column;
        width: 17.3%;
        flex-shrink: 0;
        flex-grow: 2;
      }